@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

:root {
  --color-turquoise: #3cb3e0;
  --color-indian-red: #c65250;
  --color-dark-slate-gray: #3e5561;
  --color-light-slate-gray: #909198;
  --color-white: #fafafa;
  --color-light: #dee2e4;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background: url('./assets/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px;
}

.main-container {
  background-color: var(--color-white);
  padding: 10px;
  color: var(--color-dark-slate-gray);
}

.logo {
  width: 80px;
}

.language-select {
  width: 150px;
}
.header-text {
  font-weight: 500;
  font-size: 5em;
}

.register-text {
  font-size: 1.5em;
}

.services-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: 5px 5px 20px 5px rgba(62, 57, 107, 0.16);
  box-shadow: 5px 5px 20px 5px rgba(62, 57, 107, 0.16);
  -moz-box-shadow: 5px 5px 20px 5px rgba(62, 57, 107, 0.16);
  padding: 10px 0px 0px 0px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.date-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-indian-red);
  color: var(--color-white);
  border-radius: 5px;
  padding: 10px 25px 10px 25px;
}

.date-box-label {
  font-size: 1.5em;
}

.services-container {
  width: 100%;
}

.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
  margin: 0px;
}

.service-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.service-title {
  font-size: 2.5em;
}

.service-time {
  font-size: 1.3em;
  color: var(--color-light-slate-gray);
}

.service-btn {
}

.custom-btn {
  width: 150px !important;
  height: 35px !important;
  border-radius: 5px !important;
  font-size: 1.3em !important;
  text-transform: uppercase;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px 0px 60px;
  margin-bottom: 10px;
}

.stat-graph {
  width: 60%;
}
.ant-progress-inner {
  background-color: var(--color-light-slate-gray) !important;
}

.ant-progress-bg {
  background-color: var(--color-indian-red) !important;
}

.services-footer {
  background-color: var(--color-light);
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: flex-end;
}

.footer-element {
  margin: 0px 5px 0px 5px;
  padding: 10px 10px 10px 0px;
}

.booked {
  background-color: var(--color-indian-red);
  width: 50px;
  height: 6px;
  display: block;
}

.available {
  background-color: var(--color-light-slate-gray);
  width: 50px;
  height: 6px;
  display: block;
}
.full-service {
  color: var(--color-indian-red);
}

#root {
  padding-bottom: 20px;
}

.ant-modal-content {
  border-radius: 10px !important;
}

.modal-title {
  font-size: 1.5em;
  font-weight: 600;
}

.modal-time {
  font-size: 1em;
}

.modal-header-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.txtbox {
  width: 100%;
  border: 1px solid #00000024;
  border-radius: 5px;
  height: 30px;
  padding-left: 10px;
}

.input-label {
}

.txt-box-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.submit-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.fa-spinner {
  animation: spinner 1s linear infinite;
}